* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", sans-serif;
    background-color: #C5E4E7;
    font-size: 16px;
    font-weight: bold;
    color: #5E7A7D;
}

main {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

label {
    margin-bottom: 6px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.calculator {
    flex-direction: row;
    background-color: white;
    max-width: 920px;
    padding: 32px;
}

.calculator-section {
    gap: 40px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    gap: 1rem;
}

.tip {
    
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #004c4c;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.tip-selector__custom {
    background-color: #f2f9f9;
    color: #333;
    border: 2px solid #ccc;
}

.text-in-fields {
    font-family: "Space Mono", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

input {
    padding: 0.75rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s;
}

input:hover {
    border-color: #0077ff;
}

.tip.selected {
    background-color: green;
}

.result {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

@media (max-width: 600px) {
    .container {
        padding: 1rem;
    }

    input, button {
        font-size: 0.95rem;
    }
}